@use "../abstracts" as *;

.navigation__list-item {
    display: block;
    list-style-type: none;   
    float: left;  /* veraltet, aber nach Kurs gemacht */

    &--mobile-hidden {
        @media (max-width: $breakpoint-md) {
                display: none;
        }
    }
    &--menu {
        float: right; /* veraltet, aber nach Kurs gemacht */
        font-size: 3rem;
    }

    

    &-link {
        display: block;
        color: white;
        text-decoration: none;
        padding: .5rem 0 .25rem .25rem;
        margin: 2rem 0 0 2rem;
        text-shadow: 0 0 .5rem black;
    
        &:hover {
            border-bottom: 1px solid $primary;
        }

        &--logo {
            margin-top: .9rem;
            padding-left: 0;
            margin-left: 0;
            &:hover {
                border-bottom: none;
                color: rgb(200, 200, 200);
            }
        }
    
        .navigation__list-item--menu & {
            margin-top: .4rem;
    
            &:hover {
                border-bottom: none;
                color: rgb(200, 200, 200);
            }
        }
    }

    &-logo {
        width: 4rem;
        height: 4rem;
        fill: currentColor;
    }
}