@use "../abstracts/" as *;
@use "sass:color";

.button {
    display: inline-block;
    border: .125rem solid currentColor;
    border-radius: 1000rem;
    color: $primary;
    text-decoration: none;
    padding: 1rem 6rem;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.25rem;
    cursor: pointer;

    &:hover {
        color: color.scale($primary, $lightness: 20%);
    }

    &--white {
        color: white;
        &:hover {
            color: rgb(230, 230, 230);
            text-shadow: 0 0 .125rem rgba(0, 0, 0, .5);
            box-shadow: 0 0 .125rem rgba(0, 0, 0, .5);
        }
    }
    &--background-blur{
        -webkit-backdrop-filter: blur(2.5rem);
        backdrop-filter: blur(2.5rem);
    }

    &--secondary {
        background-color: $secondary;
        color: white;
        border: .125rem solid $secondary;

        &:hover {
            color: white;
            background-color: $secondary-dark;
            border: .125rem solid $secondary-dark;
        }
    }

    &--slim {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}