@use "../abstracts/" as *;
@use "sass:color";

$-form-input-padding: .75rem 1rem;
$-form-input-border: .125rem;

.form {
    .form__horizontal {
        display: flex;
        flex-wrap: wrap;

        >.form__group {
            margin-right: 1.5rem;
            margin-bottom: 1rem;
        }

        .form__group {
            margin-bottom: 1.5rem;
            position: relative;

            .form__input {
                background-color: transparent;
                border: .125rem solid $primary;
                color: $primary;
                font-size: 1rem;
                width: 12.5rem;
                padding: $-form-input-padding;
                border-radius: 10000px;
                font-family: inherit;

                text-shadow: 0 0 1rem rgba(0, 0, 0, .5);
                box-shadow: 0 0 1rem rgba(0, 0, 0, .25);

                &:focus {
                    outline: none;
                }
                &::placeholder {
                    opacity: 0;
                    text-shadow: none;
                }
                &:focus + .form__label,
                &:not(:placeholder-shown) + .form__label {
                    transform: scale(.75) translate(0.4rem, 2.7rem);
                }
            }
            .form__label {
                position: absolute;
                top: $-form-input-border;
                left: 0;
                font-size: 1rem;
                margin: $-form-input-padding;
                color: $primary;
                text-shadow: 0 0 1rem rgba(0, 0, 0, .5);

                transform: scale(1) translate(0,0);
                will-change: transform;
                transform-origin: 0% 50%;
                transition: transform .25s ease-in-out;
            }
        }
    }

    .form__radio-group {       
        .form__radio-item {
            .form__radio-item-radio {
                display: inline-block;
                position: relative;
                top: -.125rem;
                
                &--white {
                    display: none;
                }

                &--white ~ .form__radio-item-label::before {
                    content: "";
                    display: inline-block;
                    position: relative;
                    top: .25em;
                    width: .8em;
                    height: .8em;
                    border: .175em solid white;
                    border-radius: 50%;
                    margin-right: .5em;
                    background-image: radial-gradient(circle at center center, white 49%, transparent 50%);
                    background-repeat: no-repeat;
                    background-size: 0 0;
                    background-position: center center;
                    transition: background-size .2s ease-in-out;
                }

                &--white {
                    &:checked ~ .form__radio-item-label::before {
                        background-size: 100% 100%;
                    }
                } 
            }

            .form__radio-item-label {
                color: $primary;
                font-size: 1rem;
                padding-left: .25rem;
                padding-top: .1rem;
                text-shadow: 0 0 .25rem rgba(0, 0, 0, .5);
            }
        }
    }
}