@use "sass:color";
@use "../abstracts/" as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
    font-family: 'Jost', sans-serif;

    @media(min-width: 100em) {
        font-size: 133%;
    }

    @media(min-width: 150em) {
        font-size: 166%;
    }

    @media(min-width: 170em) {
        font-size: 200%;
    }
    @media(min-width: 342em) {
        font-size: 400%;
    }

}

input,
select {
    font-family: inherit;
}

::selection {
    color: white;
    background-color: color.scale($secondary, $alpha: -20%);
}