@use "../../abstracts/" as *;
@use "sass:math";

.gallery {

    padding-bottom: 3rem;

    .gallery__container {
        @include make-container;

        .gallery__heading {
            color: $secondary;
            text-transform: uppercase;
            font-weight: 500;
            letter-spacing: .1em;
            text-align: center;
            padding-top: 4rem;
            padding-bottom: 4rem;
            font-size: 2rem;
        }

        .gallery__list {
            $column-size: math.div(71rem, 5);

            display: grid;
            grid-template-columns: repeat(5, 1fr);
            grid-template-rows: repeat(2, $column-size);

            @media (max-width: $breakpoint-lg) {
                grid-template-rows: repeat(2, $column-size * .9);
            }
            @media (max-width: $breakpoint-md) {
                grid-template-rows: repeat(2, $column-size * .8);
            }
            @media (max-width: $breakpoint-sm) {
                grid-template-rows: repeat(2, $column-size * .5);
            }
            @media (max-width: $breakpoint-xs) {
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: repeat(5, $column-size);
            }
            .gallery__list-item {
                $animation-duration: .25s;

                position: relative;
                filter: contrast(1.1) brightness(1.15) saturate(1.1);
                transform: scale(1);
                z-index: 0;
                box-shadow: 0 0 1rem rgba(0, 0, 0, 0);
                transition: filter $animation-duration ease-in-out,
                box-shadow $animation-duration ease-in-out,
                transform $animation-duration ease-in-out,
                z-index $animation-duration linear;

                &::before {
                    display: block;
                    height: 100%;
                    left: 0;
                    position: absolute;
                    top: 0;
                    width: 100%;
                    z-index: 1;
                    background: radial-gradient(circle closest-corner, transparent 0, rgba(175, 105, 24, .4) 100%);
                    content: "";
                    mix-blend-mode: multiply;

                    transition: opacity $animation-duration ease-in-out;
                }

                &:hover {
                    transform: scale(1.1);
                    z-index: 1000;
                    box-shadow: 0 0 1rem rgba(0, 0, 0, 1);
                    filter: unset;
                    transition: filter $animation-duration ease-in-out, 
                    box-shadow $animation-duration ease-in-out,
                    transform $animation-duration ease-in-out,
                    z-index 0s linear;
                    &::before {
                        opacity: 0;
                    }
                }
                .gallery__list-item-image {
                    display: block;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }

                &-bg-image {
                    display: block;
                    height: 100%;
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center center;
                }
                &--first {
                    grid-area: 1 / 1 / span 2 / span 2; 
                }

                &--last{
                    grid-area: 1 / 4 / span 2 / span 2; 
                    @media (max-width: $breakpoint-xs) {
                       grid-area: -3 / 1 / span 2 / span 2 
                    }
                }
            }
        }
        .gallery__cb-toggle {
            display: none;
        }
        .gallery__more-button-container {
            padding-top: 3rem;
            text-align: center;
        }
        .gallery__cb-toggle:checked ~ .gallery__more-button-container {
            display: none;
        }

        .gallery__cb-toggle:not(:checked) ~ .gallery__list--cb-toggle {
           display: none;
        }  

        .gallery__list--cb-toggle {
            animation: gallery__list--cb-toggle-show 1s ease-in-out 0s 1;
        }
        @keyframes gallery__list--cb-toggle-show {
            from {
                opacity: 0;
            }
            to {
                opacity: 1;
            }
        }
    }
}